@model CollectionItemModel

<div class="product-details">
    <div class="item collection-twocolumns mt-5">
        <div class="image-section column">
            @if (Model.ImageUrl == null)
            {
                <img src="~/images/blackCoat.png" alt="placeholder image" />
            }
            else
            {
                 <img src="@Model.ImageUrl" alt="" />
            }
        </div>
        <div class="body-section mt-5">
                <div class="category-detail">@Model?.Category</div>
                <div class="title-detail">@Model?.Title</div>
                <partial name="~/Views/Partials/_StarRatingPartial.cshtml" model="@Model?.StarRating" />
                <div class="price-detail">$@Model?.Price</div>
                <p class="fw-medium mt-5 mb-5 description-detail">@Model?.Description</p>
                <button class="btn-theme">ADD TO CART</button>
        </div>
    </div>
</div>