@model IEnumerable<CollectionItemModel>

@if (Model != null)
{
    <section class="collection-grid">
        <div class="container">
            <div class="title">@ViewData["Title"]</div>
            <div class="item-collection">

                @foreach (var item in Model)
                {
                    <partial name="~/Views/Partials/_CollectionItemPartial.cshtml" model="item" />
                }
            </div>S
        </div>
    </section>
}
else
{
    <section class="collection-grid">
        <div class="container">
            <div class="title">@ViewData["Title"]</div>
            <div class="item-collection">
               <div class="title-3">Come back later for some great products</div>
            </div>
        </div>
    </section>
}