@model ShowcaseDTO

@if (Model != null)
{
    <section class="showcase">
        <div class="container">
            <div class="content">
                <div class="title-2">@Model.Offer</div>
                <div class="title-1">@Model.Title?</div>
                <div class="title-3">@Model.Message?</div>
                <a class="btn-theme" href="">SHOP NOW</a>
            </div>
            <img src=@Model.ImgURL? alt="Showcase Picture" />
        </div>
    </section>
}
else
{
    <section class="showcase">
        <div class="container">
            <div class="content">
                <div class="title-2">Great offer</div>
                <div class="title-1">What it's all about</div>
                <div class="title-3">Great stuff to be found in this shop</div>
                <a class="btn-theme" href="">SHOP NOW</a>
            </div>
            <img src="~/images/showcase-img.png" alt="Showcase Picture" />
        </div>
    </section>
}