@model int

<div class="star-rating">
    @for(int i = 0; i < 5; i++)
    {
        string starRating = Model >= i ? "fa-solid" : "fa-regular";

        <i class="fa-sharp fa-star @starRating"></i>
    }
</div>



