<section class="collection-grid">
    <div class="container">
        <div class="title">Title what now</div>
        <div class="item-collection">
            <CollectionItem />
            <CollectionItem />
            <CollectionItem />
            <CollectionItem />
            <CollectionItem />
            <CollectionItem />
            <CollectionItem />
            <CollectionItem />

        </div>
    </div>
</section>