<div class="item">
    <div class="image-section">
        <img src="https://kyhnet22sa.blob.core.windows.net/product-images/black-coat.png" alt="" />
        <div class="menu">
            <div class="icons">
                <button class="link"><i class="fa-regular fa-code-compare"></i></button>
                <button class="link"><i class="fa-regular fa-heart"></i></button>
                <button class="link"><i class="fa-regular fa-bag-shopping"></i></button>
            </div>
            <a class="btn-theme" href="/products">QUICK VIEW</a>
        </div>
    </div>
    <div class="body-section">
        <div class="category">Coat</div>
        <div class="name">Black long Coat</div>
        <StarRating rating="2" />
        <div class="price">$3500</div>
    </div>
</div>